.card-container {
  width: 280px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 1px 2px #b7b7b7, 0 0 2px 4px #d1d1d1;
}

.card-container img {
  width: 200px;
  height: 220px;
  object-fit: contain;
}

.card-name-character {
  align-self: flex-end;
  font-size: 20px;
}

.card-character {
  font-size: 18px;
  align-self: start;
}
