.form-page .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-page .container h2 {
  align-self: center;
}

.form-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
